$primaryColor: rgb(24,178, 10);
$secondaryColor: rgb(24,178, 10);

$darkColor: rgb(18, 18, 19);
$darkColorOpacity: rgba($darkColor, .7);

$lightColor: rgb(222, 222, 224);

$simpleBorder: solid 1px $secondaryColor;

$doubleBorder: solid 2px $secondaryColor;